*{
    margin:0;
    padding:0;
    list-style-type:none;
    text-decoration:none;
    box-sizing:border-box;
    font-family: 'Lexend Peta', sans-serif;
}
body{
    overflow-x:hidden;
    margin:0;
    padding:0;
    background-attachment: fixed;
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    background:url(img/bg-contact.jpg)
    

}

header{
    margin:-12px 0px 0px 68pt;
    font-family: 'Lexend Peta', sans-serif;
    width:100%;
    height:100px;
    /* background-color: #0b165d; */
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.logoheader img{
    width:50px;
    height:50px;
    font-size:70%;
    margin-left:15px;
    color:black;
    font-weight:300;
}
.navbar{
    width:100%;
    padding:20px 0;
    font-size:25px;
    margin-right:15px;
    padding:50px;
}
.navbar ul li{
    display:inline-block;
}
.navbar ul li a{
    color:snow;
    font-size:70%;
    font-weight:300;
    border-radius:50px;
    padding:10px 15px;
}
.navbar ul li a:hover{
    background-color:rgb(187, 1, 1);
    color:white;
}
.navbar ul li a.active{
    background-color:rgb(187, 1, 1);
    color:white;
}
.container{
    position:relative;
    width:100%;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background:transparent;
}
.item{
    width:100%;
    height:550px;
    max-width: 820px;
    background:transparent;
    border-radius: 20px;
    /* box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.4); */
    overflow:hidden;
    grid-template-columns: repeat(2, 1fr);
    display:grid;
    z-index: 1000;
}
.contact{
    background-color:#7ee5fe;
}
.submit-form{
    background:#7ee5fe;
}
.contact, .submit-form{
    background-color:transparent;
}
.first-txt{
    color:black;
    padding-left:20px;
    padding-top:20px;
    font-size:25px;
    font-weight: 400;
}
.all-hand{
    --skin-color: #E4C560;
    --tap-speed: 0.6s;
    --tap-stagger: 0.1s;
    position: relative;
    width: 80px;
    height: 60px;
    margin-left: 200px;
    margin-top:50px;
  }
  
  .all-hand:before {
    content: '';
    display: block;
    width: 180%;
    height: 75%;
    position: absolute;
    top: 70%;
    right: 20%;
    background-color: black;
    border-radius: 40px 10px;
    filter: blur(10px);
    opacity: 0.3;
  }
  
  .hand{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--skin-color);
    border-radius: 10px 40px;
  }
  
  .third-finger {
    position: absolute;
    width: 120%;
    height: 38px;
    background-color: var(--skin-color);
    bottom: -18%;
    right: 1%;
    transform-origin: calc(100% - 20px) 20px;
    transform: rotate(-20deg);
    border-radius: 30px 20px 20px 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    border-left: 2px solid rgba(0, 0, 0, 0.1);
  }
  
  .third-finger:after {
    width: 20%;
    height: 60%;
    content: '';
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    bottom: -8%;
    left: 5px;
    border-radius: 60% 10% 10% 30%;
    border-right: 2px solid rgba(0, 0, 0, 0.05);
  }
  
  .first-finger{
    position: absolute;
    width: 80%;
    height: 35px;
    background-color: var(--skin-color);
    bottom: 32%;
    right: 64%;
    transform-origin: 100% 20px;
    animation-duration: calc(var(--tap-speed) * 2);
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    transform: rotate(10deg);
  }
  
  .first-finger:before {
    content: '';
    position: absolute;
    width: 140%;
    height: 30px;
    background-color: var(--skin-color);
    bottom: 8%;
    right: 65%;
    transform-origin: calc(100% - 20px) 20px;
    transform: rotate(-60deg);
    border-radius: 20px;
  }
  
  .first-finger:nth-child(1) {
    animation-delay: 0;
    filter: brightness(70%);
    animation-name: tap-upper-1;
  }
  
  .first-finger:nth-child(2) {
    animation-delay: var(--tap-stagger);
    filter: brightness(80%);
    animation-name: tap-upper-2;
  }
  
  .first-finger:nth-child(3) {
    animation-delay: calc(var(--tap-stagger) * 2);
    filter: brightness(90%);
    animation-name: tap-upper-3;
  }
  
  .first-finger:nth-child(4) {
    animation-delay: calc(var(--tap-stagger) * 3);
    filter: brightness(100%);
    animation-name: tap-upper-4;
  }
  
  @keyframes tap-upper-1 {
    0%, 50%, 100% {
      transform: rotate(10deg) scale(0.4);
    }
  
    40% {
      transform: rotate(50deg) scale(0.4);
    }
  }
  
  @keyframes tap-upper-2 {
    0%, 50%, 100% {
      transform: rotate(10deg) scale(0.6);
    }
  
    40% {
      transform: rotate(50deg) scale(0.6);
    }
  }
  
  @keyframes tap-upper-3 {
    0%, 50%, 100% {
      transform: rotate(10deg) scale(0.8);
    }
  
    40% {
      transform: rotate(50deg) scale(0.8);
    }
  }
  
  @keyframes tap-upper-4 {
    0%, 50%, 100% {
      transform: rotate(10deg) scale(1);
    }
  
    40% {
      transform: rotate(50deg) scale(1);
    }
  }
  
.social-media{
    display:flex;
    list-style: none;
}
.social-media i{
    background: transparent;
    padding:5px;
    border-radius:5px;
    color:rgb(0, 0, 0);
}
#li{
padding-left:15px;
font-size:24px;
margin-top:10px;
transition:0.3s;
}
i:hover{
    background:rgba(253, 220, 70, 0.9);
    color:snow;
}
.social-links{
    height:60px;
    width: 150px;
    padding-top:190px;
}
.social-media a{
    text-decoration: none;
}
.second-text{
    font-weight: 500;
    color:black;
    padding-left:20px;
    padding: 0px 10px;
}
/* .third-text{
    font-size:25px;
    position:relative;
    top:20px;
    left:20px;
    padding-top:10px;
    color:#282245;
} */
form{
    padding:5px 15px;
    margin-top:70px;
    height:100%;
    width:100%;
    overflow:hidden;
}
.input-box{
    height:40px;
    width:70%;
    margin:30px 0;
    position: relative;
}
.input{
    width:100%;
    height:100%;
    background:white;
    border:2px solid #fff;
    border-radius:20px;
    outline:none;
    padding-left:10px;
    color:#000000;
    font-size:16px;
}
.input-box label{
    position:absolute;
    top:50%;
    left:10px;
    padding-left:10px;
    transform: translateY(-50%);
    font-size:15px;
    font-weight: 500;
    color:black;
    transition: 0.3s;
}
.input-box .input:focus ~ label,
.input-box .input:valid ~ label{
    top:-10px;
    left:10px;
    background:transparent;
    font-weight:500;
    font-size:12px;
    padding:5px;
    color:black;
}
.textarea-input{
    resize:none;
    min-height: 150px;
    overflow:auto;
}
.message{
    position:relative;
    top:100px;
    background:white;
    outline:none;
    border:none;
    border-radius:45px;
    height:45px;
    width: 30%;
    font-size:16px;
    color:black;
    cursor:pointer;
    font-weight: 500;
}
.message:hover{
    background-color:#E4C560;
    color: rgb(0, 0, 0);
}
@media(max-width:850px){
    .item{
        grid-template-columns: 1fr;
    }
    .contact{
        display:none;
    }
    .text{
        font-size:40px;
        text-align:center;  
    }
    .message{
        width:25%;
        height: 40px;
        font-size:12px;
    }
}
@media(max-width:480px){
    .item{
        grid-template-columns: 1fr;
    }
    .contact{
        display:none;
    }
    .text{
        font-size:20px;
        text-align:center;  
    }
    .message{
        width:20%;
        height: 40px;
        font-size:12px;
    }
}
footer{
  position:absolute;
  background:black;
  height:auto;
  width:100%;
  padding-top:40px;
  color:white;
}
.footer-content{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align:center;
}
.footer-content h3{
  font-size:20px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
  max-width: 500px;
  margin:10px auto;
  line-height: 28px;
  font-size: 14px;
}
.socials2{
  list-style:none;
  display:flex;
  align-items:center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials2 li{
  margin:0 10px;
}
.socials2 a{
  text-decoration: none;
  color:white;
}
.socials2 a i{
  font-size:1.1rem;
}
#facebook2:hover{
  color:#3b5998;
  transition: 0.5s;
}
#github2:hover{
  color:#6cc644;
  transition: 0.5s;
}
#instagram2:hover{
  color:#E4405F;
  transition: 0.5s;
}
#linkedin2:hover{
  color:#0072b1;
  transition: 0.5s;
}
#facebook2{
  transition:.5s;
}
#github2{
  transition:0.5s;
}
#instagram2{
  transition:0.5s;
}
#linkedin2{
  transition:0.5s;
}
.footer-bottom{
  background:#000;
  width:100vw;
  padding:20px 0;
  text-align: center;
}
.footer-bottom p{
  font-size:14px;
  word-spacing:2px;
  text-transform: capitalize;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity:0.4;
  font-weight: 200;
}
footer p{
  text-align: center;
  padding:20px;
}