*{
    margin:0;
    padding:0;
    list-style-type:none;
    text-decoration:none;
    box-sizing:border-box;
    font-family: 'Lexend Peta', sans-serif;
}
body{
    overflow-x:hidden;
    margin:0;
    padding:0;
    color:snow;
    /* background-color:orange; */
}

header{
    margin:-12px 0px 0px 68pt;
    font-family: 'Lexend Peta', sans-serif;
    width:100%;
    height:100px;
    /* background-color: #0b165d; */
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.logoheader img{
    width:50px;
    height:50px;
    font-size:70%;
    margin-left:15px;
    color:black;
    font-weight:300;
}
.navbar{
    width:100%;
    padding:20px 0;
    font-size:25px;
    margin-right:15px;
}
.navbar ul li{
    display:inline-block;
}
.navbar ul li a{
    color:black;
    font-size:70%;
    font-weight:300;
    border-radius:50px;
    padding:10px 15px;
}
.navbar ul li a:hover{
    background-color:black;
    color:white;
}
.navbar ul li a.active{
    background-color:black;
    color:white;
}

#projet-1{
    width:100%;
    height:700px;
    background: url(img/bg3.jpg) no-repeat center center fixed;
    background-size:cover;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.project-txt{
    width:50%;
    height:55%;
    text-align: center;
    justify-content: center;
    padding:30px 10px;
    margin-left:30px;
    color:black;
    background:rgba(255, 255, 255, 0.6)
}
#blue{
    width:50%;
    height:58%;
    text-align: center;
    justify-content: center;
    padding:30px 10px;
    margin-left:30px;
    color:black;
    background:rgba(255, 255, 255, 0.6)
}
#red{
    width:50%;
    height:45%;
    text-align: center;
    justify-content: center;
    padding:30px 10px;
    margin-left:30px;
    color:black;
    background:rgba(255, 255, 255, 0.6)
}
.project-img{
    width:40%;
    height:40%;
    margin-right:40px;
}
.project-img img{
    width:600px;
    height:300px;
}
#motiv-1{
    width:100%;
    height:400px;
    background:white;
}
.motiv{
    width:80%;
    height:300px;
    color:black;
    padding-top:90px;
    margin:auto;
    text-align: center;
}
#projet-2{
    width:100%;
    height:700px;
    background:url(img/bg4.jpg) no-repeat center center fixed;
    background-size:cover;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
#motiv-2{
    width:100%;
    height:400px;
    background:white;
}
#projet-3{
    width:100%;
    height:700px;
    background:url(img/bg5.jpg) no-repeat center center fixed;
    background-size:cover;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
#motiv-3{
    width:100%;
    height: 400px;
    background:white;
}
footer{
    position:absolute;
    background:black;
    height:auto;
    width:100%;
    padding-top:40px;
    color:white;
}
.footer-content{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align:center;
}
.footer-content h3{
    font-size:20px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin:10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style:none;
    display:flex;
    align-items:center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin:0 10px;
}
.socials a{
    text-decoration: none;
    color:white;
}
.socials a i{
    font-size:1.1rem;
}
#facebook:hover{
    color:#3b5998;
    transition: 0.3s;
}
#github:hover{
    color:#6cc644;
    transition: 0.3s;
}
#instagram:hover{
    color:#E4405F;
    transition: 0.3s;
}
#linkedin:hover{
    color:#0072b1;
    transition: 0.3s;
}
.footer-bottom{
    background:#000;
    width:100vw;
    padding:20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size:14px;
    word-spacing:2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity:0.4;
    font-weight: 200;
}